{% extends 'base.html.twig' %}


{% block title %}Reparaciones{% endblock %}



{% block body %}
    <h1 class="m-2 d-flex justify-content-center">Reparaciones</h1>

    <div class="align-self-end">
            <div class=" d-flex flex-row justify-content-end align-items-end">

                <div class="col-md-8">

                <div class="search d-flex flex-row justify-content-end align-items-center">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control inputBuscarTodo h-auto" placeholder="Buscar todos las reparaciones">
                    <button class="btn btn-primary btnBuscarReparaciones btnControl h-auto">Buscar</button>
                </div>
                
                </div>
                
            </div>
        </div>


    <div class="align-self-end">
        <div class=" d-flex flex-row justify-content-end align-items-end">

            <div class="col-md-8">

            <div class="search d-flex flex-row justify-content-end align-items-center">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control inputBuscarTabla w-50" placeholder="Buscar en esta tabla">
                <button class="btn btn-primary btnBuscarTabla btnControl">Buscar</button>
            </div>
            
            </div>
            
        </div>
    </div>

    <table class = "text-center table table-bordered">
       <thead>
           <tr>
               <th>
                   ID
               </th>
               <th>
                   USUARIO
               </th>
               <th>
                   EMPLEADO
               </th>
               <th>
                   PROBLEMA
               </th>
               <th>
                   COMENTARIO
               </th>
               <th>
                   ESTADO
               </th>
               <th>
                   FECHA INICIO
               </th>
               <th>
                   FECHA FIN
               </th>
               <th>
                   PRECIO
               </th>
               <th>
                   CAMBIAR ESTADO
               </th>
           </tr>
       </thead>
        <tbody class="tablaBuscar">
        {% for reparacion in reparaciones %}
            <tr>
            <td>{{ reparacion.idreparacion }}</td>
            <td>{{ reparacion.idusuario }}</td>
            {% if reparacion.idempleado == null %}
                <td class="text-danger">Sin empleado</td>
            {% else %}
                <td>{{ reparacion.idempleado }}</td>
            {% endif %}
            <td>{{ reparacion.problema }}</td>
            {% if reparacion.comentarioReparacion == null %}
                <td class="text-danger">Sin comentario</td>
            {% else %}
                <td>{{ reparacion.comentarioReparacion }}</td>
            {% endif %}
            <td>{{ reparacion.idestadoreparacion }}</td>
            {% if reparacion.fechaInicio == null %}
                <td class="text-danger">Sin fecha</td>
            {% else %}
                <td>{{ reparacion.fechaInicio|date('Y-m-d') }}</td>
            {% endif %}
            {% if reparacion.fechaFin == null %}
                <td class="text-danger">Sin fecha</td>
            {% else %}
                <td>{{ reparacion.fechaFin|date('Y-m-d') }}</td>
            {% endif %}
            {% if reparacion.precio == null %}
                <td class="text-danger">Sin precio</td>
            {% else %}
                <td>{{ reparacion.precio }}</td>
            {% endif %}
            <td><div id="tdEditar"><a href="{{ path('app_reparacion_estado', { 'id': reparacion.idreparacion }) }}"><button class="btn btn-lg btn-primary float-start">Cambiar estado</button></a></div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginas > 1 %}
        <nav aria-label="Seleccione una pagina">
            <ul class="pagination">
                <li class="page-item"><a class="page-link text-dark" href="{{ path('app_reparacion_pagina', {'offset': app.request.get('offset') - 1}) }}">Anterior</a></li>
                {% for i in 1..paginas %}
                    <li class="page-item"><a class="page-link text-dark" href="{{ path('app_reparacion_pagina', {'offset': i}) }}">{{ i }}</a></li>
                {% endfor %}
                <li class="page-item"><a class="page-link text-dark" href="{{ path('app_reparacion_pagina', {'offset': app.request.get('offset') + 1}) }}">Siguiente</a></li>
            </ul>
        </nav>
    {% endif %}


{% endblock %}
