{% extends 'base.html.twig' %}


{% block title %}Reparaciones{% endblock %}



{% block body %}
    <h1 class="m-3">Reparaciones</h1>


    <table class = "text-center table table-bordered">
       <thead>
           <tr>
               <th>
                   ID
               </th>
               <th>
                   USUARIO
               </th>
               <th>
                   EMPLEADO
               </th>
               <th>
                   PROBLEMA
               </th>
               <th>
                   COMENTARIO
               </th>
               <th>
                   ESTADO
               </th>
               <th>
                   FECHA INICIO
               </th>
               <th>
                   FECHA FIN
               </th>
               <th>
                   PRECIO
               </th>
               <th>
                   CAMBIAR ESTADO
               </th>
           </tr>
       </thead>
        <tbody>
        {% for reparacion in reparaciones %}
            <tr>
            <td>{{ reparacion.idreparacion }}</td>
            <td>{{ reparacion.idusuario }}</td>
            {% if reparacion.idempleado == null %}
                <td class="text-danger">Sin empleado</td>
            {% else %}
                <td>{{ reparacion.idempleado }}</td>
            {% endif %}
            <td>{{ reparacion.problema }}</td>
            {% if reparacion.comentarioReparacion == null %}
                <td class="text-danger">Sin comentario</td>
            {% else %}
                <td>{{ reparacion.comentarioReparacion }}</td>
            {% endif %}
            <td>{{ reparacion.idestadoreparacion }}</td>
            {% if reparacion.fechaInicio == null %}
                <td class="text-danger">Sin fecha</td>
            {% else %}
                <td>{{ reparacion.fechaInicio|date('Y-m-d') }}</td>
            {% endif %}
            {% if reparacion.fechaFin == null %}
                <td class="text-danger">Sin fecha</td>
            {% else %}
                <td>{{ reparacion.fechaFin|date('Y-m-d') }}</td>
            {% endif %}
            {% if reparacion.precio == null %}
                <td class="text-danger">Sin precio</td>
            {% else %}
                <td>{{ reparacion.precio }}</td>
            {% endif %}
            <td><div id="tdEditar"><a href="{{ path('app_reparacion_estado', { 'id': reparacion.idreparacion }) }}"><button class="btn btn-lg btn-primary float-start">Cambiar estado</button></a></div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
