{% extends 'base.html.twig' %}

{% block title %}JuegAlmi{% endblock %}

{% block body %}

<div class="header">
    <h1>¡Bienvenido a JuegAlmi!</h1>
</div>

<div class="body">
    <h2>Paginas de Administracion</h2>
    <div class="linkContainer">
        <div class="leftDiv">
            <h3>Administracion</h3>
            <ul>
                 <li><a href="{{ path('app_articulo', { offset: 1 }) }}">Articulos</a></li>
                <li><a href="{{ path('app_etiqueta') }}">Etiquetas</a></li>
                <li><a href="{{ path('app_marca') }}">Marcas</a></li>
                <li><a href="{{ path('app_plataforma') }}">Plataformas</a></li>
                <li><a href="{{ path('app_reparacion') }}">Reparaciones</a></li>
            </ul>
        </div>
        <div class="rightDiv">
            <h3>Empleados</h3>
            <li><a href="{{ path('app_empleado_list') }}">Empleados</a></li>
        </div>
    </div>
</div>


{% endblock %}
