{% extends 'base.html.twig' %}


{% block title %}Empleado{% endblock %}



{% block body %}
    <h1 class="m-2 d-flex justify-content-center">Empleados</h1>

    <div class="align-self-end">
            <div class=" d-flex flex-row justify-content-end align-items-end">

                <div class="col-md-8">

                <div class="search d-flex flex-row justify-content-end align-items-center">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control inputBuscarTodo h-auto" placeholder="Buscar todos los empleados">
                    <button class="btn btn-primary btnBuscarEmpleados btnControl h-auto">Buscar</button>
                </div>
                
                </div>
                
            </div>
        </div>


    <div class="align-self-end">
        <div class=" d-flex flex-row justify-content-end align-items-end">

            <div class="col-md-8">

            <div class="search d-flex flex-row justify-content-end align-items-center">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control inputBuscarTabla w-50" placeholder="Buscar en esta tabla">
                <button class="btn btn-primary btnBuscarTabla btnControl">Buscar</button>
            </div>
            
            </div>
            
        </div>
    </div>


    <table class = "text-center table table-bordered">
       <thead>
           <tr>
               <th>
                   ID
               </th>
               <th>
                   NOMBRE
               </th>
               <th>
                   APELLIDO 1
               </th>
               <th>
                   APELLIDO 2
               </th>
               <th>
                   ES GERENTE
               </th>
               <th>
                   EMAIL
               </th>
           </tr>
       </thead>
        <tbody class="tablaBuscar">
        {% for empleado in empleados %}
        <tr>
            <td>{{ empleado.idEmpleado }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido1 }}</td>
            <td>{{ empleado.apellido2 }}</td>
            {% if empleado.gerente == 1 %}
                <td>Si</td>
            {% else %}
                <td>No</td>
            {% endif %}
            <td>{{ empleado.email }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginas > 1 %}
        <nav aria-label="Seleccione una pagina">
            <ul class="pagination">
                <li class="page-item"><a class="page-link text-dark" href="{{ path('app_empleado_lista', {'offset': app.request.get('offset') - 1}) }}">Anterior</a></li>
                {% for i in 1..paginas %}
                    <li class="page-item"><a class="page-link text-dark" href="{{ path('app_empleado_lista', {'offset': i}) }}">{{ i }}</a></li>
                {% endfor %}
                <li class="page-item"><a class="page-link text-dark" href="{{ path('app_empleado_lista', {'offset': app.request.get('offset') + 1}) }}">Siguiente</a></li>
            </ul>
        </nav>
    {% endif %}

        <a href="{{ path('app_empleado_register') }}" >
            <button class="btn btn-lg btn-primary float-start m-3">Registrar Empleado</button>
        </a>
        

{% endblock %}
