{% extends 'base.html.twig' %}


{% block title %}{{ titulo }}{% endblock %}



{% block body %}
    <h1>{{ titulo }}</h1>


    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Atencion!</h5>
                </div>
                <div class="modal-body">
                    <h5>¿Estas seguro de que quieres borrar este articulo?</h5>
                    <h5>Esta accion no se puede deshacer</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger botonBorrar">Eliminar</button>
                    <button type="button" class="btn btn-primary closeModal" >Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <table class = "text-center table table-bordered">
       <thead>
           <tr>
               <th>
                   ID
               </th>
               <th>
                   MARCA
               </th>
               <th>
                   NOMBRE
               </th>
               <th>
                   PRECIO
               </th>
               <th>
                   STOCK
               </th>
               <th>
                   FOTO
               </th>
               <th>
                   TIPO
               </th>
               <th>
                   EDITAR
               </th>
               <th>
                   BORRAR
               </th>
           </tr>
       </thead>
        <tbody>
        {% for articulo in articulos %}
        <tr>
            <td>{{ articulo.idArticulo }}</td>
            <td>{{ articulo.idmarca }}</td>
            <td>{{ articulo.articulonombre }}</td>
            <td>{{ articulo.precio }}</td>
            <td>{{ articulo.stock }}</td>
            <td><img class="fotoArticulo" src="{{images_directory}}{{ articulo.foto }}"></img></td>
            <td>{{ articulo.tipoarticulo }}</td>
            <td><div id="tdEditar"><a href="{{ path('app_articulo_edit', {'id': articulo.idArticulo}) }}"><button class="btn btn-lg btn-primary float-start">Editar</button></a></div></td>
            <td><div id="tdEliminar"><button class="btn btn-lg btn-primary float-start btnDelete" type="submit" data-toggle="modal" id-eliminar="{{ articulo.idArticulo }}">Borrar</button></div></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

        <a href="{{ path('app_articulo_add') }}" >
            <button class="btn btn-lg btn-primary float-start">Añadir Articulo</button>
        </a>

{% endblock %}
