{% extends 'base.html.twig' %}


{% block title %}{{ titulo }}{% endblock %}



{% block body %}
    <h1 class="m-2 d-flex justify-content-center">{{ titulo }}</h1>

    <div class="align-self-end">
            <div class=" d-flex flex-row justify-content-end align-items-end">

                <div class="col-md-8">

                <div class="search d-flex flex-row justify-content-end align-items-center">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control inputBuscarTodo h-auto" placeholder="Buscar todos los productos">
                    <button class="btn btn-primary btnBuscarArticulos btnControl h-auto">Buscar</button>
                </div>
                
                </div>
                
            </div>
        </div>


    <div class="align-self-end">
        <div class=" d-flex flex-row justify-content-end align-items-end">

            <div class="col-md-8">

            <div class="search d-flex flex-row justify-content-end align-items-center">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control inputBuscarTabla w-50" placeholder="Buscar en esta tabla">
                <button class="btn btn-primary btnBuscarTabla btnControl">Buscar</button>
            </div>
            
            </div>
            
        </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Atencion!</h5>
                </div>
                <div class="modal-body">
                    <h5>¿Estas seguro de que quieres borrar este articulo?</h5>
                    <h5>Esta accion no se puede deshacer</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger botonBorrar">Eliminar</button>
                    <button type="button" class="btn btn-primary closeModal" >Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <table class = "text-center table table-bordered table-hover m-0">
       <thead class="thead-dark">
           <tr>
               <th>
                   ID
               </th>
               <th>
                   MARCA
               </th>
               <th>
                   NOMBRE
               </th>
               <th>
                   PRECIO
               </th>
               <th>
                   STOCK
               </th>
               <th>
                   FOTO
               </th>
               <th>
                   TIPO
               </th>
               <th>
                   EDITAR
               </th>
               <th>
                   BORRAR
               </th>
           </tr>
       </thead>
        <tbody class="tablaBuscar">
        {% for articulo in articulos %}
        <tr>
            <td>{{ articulo.idArticulo }}</td>
            <td>{{ articulo.idmarca }}</td>
            <td>{{ articulo.articulonombre }}</td>
            <td>{{ articulo.precio }}</td>
            <td>{{ articulo.stock }}</td>
            <td><img class="fotoArticulo" src="{{images_directory}}{{ articulo.foto }}"></img></td>
            <td>{{ articulo.tipoarticulo }}</td>
            <td><div id="tdEditar"><a href="{{ path('app_articulo_edit', {'id': articulo.idArticulo}) }}"><button class="btn btn-lg btn-primary float-start btnControl">Editar</button></a></div></td>
            <td><div id="tdEliminar"><button class="btn btn-lg btn-primary float-start btnDelete btnControl" type="submit" data-toggle="modal" id-eliminar="{{ articulo.idArticulo }}">Borrar</button></div></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginas > 1 %}
        <nav aria-label="Seleccione una pagina">
            <ul class="pagination">
                <li class="page-item"><a class="page-link text-dark" href="{{ path('app_articulo', {'offset': app.request.get('offset') - 1}) }}">Anterior</a></li>
                {% for i in 1..paginas %}
                    <li class="page-item"><a class="page-link text-dark" href="{{ path('app_articulo', {'offset': i}) }}">{{ i }}</a></li>
                {% endfor %}
                <li class="page-item"><a class="page-link text-dark" href="{{ path('app_articulo', {'offset': app.request.get('offset') + 1}) }}">Siguiente</a></li>
            </ul>
        </nav>
    {% endif %}

        <a href="{{ path('app_articulo_add') }}" >
            <button class="btn btn-lg btn-primary float-start m-3 btnControl">Añadir Articulo</button>
        </a>

{% endblock %}
