{% extends 'base.html.twig' %}


{% block title %}{{ titulo }}{% endblock %}



{% block body %}
    <h1>{{ titulo }}</h1>

    {% if error %}
        <div>
            <h2>{{ error }}</h2>
        </div>
    {% endif %}

    <table class = "text-center table table-bordered">
       <thead>
           <tr>
               <th>
                   ID
               </th>
               <th>
                   MARCA
               </th>
               <th>
                   NOMBRE
               </th>
               <th>
                   PRECIO
               </th>
               <th>
                   STOCK
               </th>
               <th>
                   FOTO
               </th>
               <th>
                   BORRAR
               </th>
               <th>
                   EDITAR
               </th>
           </tr>
       </thead>
        <tbody>
        {% for articulos in articulos %}
        <tr>
            <td>{{ articulos.idArticulo }}</td>
            <td>{{ articulos.idmarca }}</td>
            <td>{{ articulos.nombre }}</td>
            <td>{{ articulos.precio }}</td>
            <td>{{ articulos.stock }}</td>
            <td><img class="fotoArticulo" src="{{images_directory}}{{ articulos.foto }}"></img></td>
            <td><div id="tdEliminar"><form action="{{ path('app_articulos_delete', {'id': articulos.idArticulo}) }}" method="post"><button class="btn btn-lg btn-primary float-start" type="submit">Borrar</button></form></div></td>
            <td><div id="tdEditar"><a href="{{ path('app_articulos_edit', {'id': articulos.idArticulo}) }}"><button class="btn btn-lg btn-primary float-start">Editar</button></a></div></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

        <a href="{{ path('app_articulos_add') }}" >
            <button class="btn btn-lg btn-primary float-start">Añadir Producto</button>
        </a>

{% endblock %}
